
.images{
  height: 100% !important;
    width: 100% !important;
    position: static !important
}

element.style {
    object-fit: cover;
    vertical-align: bottom;
}

/* midbar *











/* row */
.row {
  display: flex;
}

.column {
  flex: 0%;
  padding: 5px;
}

.line1{
  font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.line2{
  font-size: :16px;
  line-height:20px;

}

img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10PX;
}

 p {
   font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: lighter;
  font-weight: 10px;
  color: rgb(34, 34, 34);
}

text-with-border {
  border: 1px solid rgb(34, 34, 34);
  display: inline-block;
  padding: 2px;
}

bold-text {
  font-family: sans-serif;
  font-size: 12px;
  color: black;
}
